<div class="modal-dialog">
<!--   <div class="modal-content" style="float: left;padding-left: 2%;padding-right: 2%;">
 -->    <div class="modal-header">
      <button type="button" class="close" ng-click="cancel()">&times;</button>
      <h6 class="modal-title">Add Parent Domain</h6>
    </div>
    <div class="modal-body">
   		<form action="">
			<input type="text" ng-model="parentDomain.domain" class="form-control" placeholder="Parent Domail">
		</form>
    </div>
    <div class="modal-footer">
      <button type="button" style="float: right;" class="btn btn-default" ng-click="cancel()">Close</button>
      <button type="button" style="margin-right: 2%;" class="btn btn-primary" ng-click="addparentmanually()">Add Parent Domain</button>
    </div>
  </div>
<!-- </div> -->