<div>
<nav class="navbar bg-primary nav" role="navigation" style="color: #bbb;border-bottom: 1px solid #444;min-height: 70px;">
    
   <!-- <div class="col-xs-3">
    <input type="text" class="form-control" placeholder="Search">
  </div> -->
	 <div class="navbar-header " style="width: 100%;margin-left: 2%;margin-top: 0.5%;">
	 <div style="float:left;width: 21%;">
	 	<a href="auth#/">
	 		<img src="/assets/app/images/logo_agora.png" style="width: 100%;" alt="Your Brand" >
	 	</a>
	 	<span class="textStyle" style="margin-left: 23%;color: white;">E-MAIL KNOWLEDGEBASE</span> 
	 	</div>
	 	<a class="cal" href="/showTables/0" target="_blank" style="color: rgba(255,255,255,0.5);margin-left: 3%;">Collection/Calender</a>
	 	<a ng-show="isadmin" class="cal" href="auth#/" style="color: rgba(255,255,255,0.5);margin-left: 1%;">Search</a>
	 	<a ng-show="isadmin" class="cal" href="auth#/statictical" style="color: rgba(255,255,255,0.5);margin-left: 1%;">Statistics</a>
	 	<div style="float: right;width: 24%;">
	 	<!-- <input type="text" class="col-xs-3 form-control" style="width: 80%; margin-right: 4%;" placeholder="Search"> -->
	  </div>
	
      
    </div>
</nav>
<div style="width: 50%;margin-left:auto;margin-right:auto;">
	<h3 style="margin-left: auto;margin-right: auto;width: 16%;color:white;">Feedback</h3>
	<form ng-submit="sendFeedback()">
		<input style="width: 100%;margin-top: 10px;" type="text" required="required" placeholder="Subject" ng-model="item.subject"/>
		<textarea style="width: 100%;margin-top: 5px;height: 200px;" required placeholder="Message" ng-model="item.message"></textarea>
		<input style="width: 20%;margin-left: 40%;margin-top: 10px;" type="submit" value="Submit"/>
		<div style="margin-top: 10px;color: green;margin-left: 33%;" ng-show="feedbackSuccess">Thank you for your Feedback.</div>
	</form>
</div>
</div>