<div class="modal-dialog">
<!--   <div class="modal-content" style="float: left;padding-left: 2%;padding-right: 2%;">
 -->    <div class="modal-header">
      <button type="button" class="close" ng-click="cancel()">&times;</button>
      <h6 class="modal-title">All External Links</h6>
    </div>
    <div class="modal-body">
   		<p data-ng-repeat="link in s1">
   			<a ng-if="link.length > 65" target="_blank" href="{{link.url}}">{{$index+1}}) {{link.url | limitTo:32}}...{{link.url | limitTo:-40}}</a>
   			<a ng-if="link.length <= 65" target="_blank" href="{{link.url}}">{{$index+1}}) {{link.url}}</a>
   		</p>
    </div>
    <div class="modal-footer">
      <button type="button" style="float: right;" class="btn btn-default" ng-click="cancel()">Close</button>
    </div>
  </div>
<!-- </div> -->