 <div class="">

  <div class="modal-content" style="float: left;padding-left: 2%;padding-right: 2%">
    <div class="modal-headerPopUp">
      <button type="button" class="close" ng-click="cancel()">&times;</button>
      <h6 class="modal-header">Show Email</h6>
    </div>
    <div class="modal-bodyPopUp">
  <!--   <div class="thumbnail">
        <div data-ng-repeat="vm in s1" > 
        	<h1>{{vm.url}}</h1>
	   		<iframe ng-src="{{trustSrc(vm.url)}}" ></iframe>
	    </div>
	     
	</div> -->
    </div>
    <div class="modal-footer" style="border-top: 0px solid #e5e5e5;">
      <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
    </div>
	</div>
</div> 
