<!-- <tabset>
   <tab ng-repeat="statby in tabs.statsby" heading="{{statby.title}}" active="statby.active">
     <div data-ng-include style="width: 100%;" 
                     data-src="statby.content" ></div>
   </tab>
</tabset> -->
<div>
 <div class="modal-content" style="float: left;padding-left: 2%;padding-right: 2%;margin-left: -40%;width:1100px;height: 700px;">
    <div class="modal-headerPopUp">
      <div class="modal-header">
       <button type="button" class="close" ng-click="cancel()">&times;</button>
      <span>Pie Chart</span>
      <button type="button" ng-show="soButton" ng-show="soButton" style="float: right;margin-right: 2%;height: 16px;" id="hrefPrint" class="btn btn-primary btn-sm">
							<span class="glyphicon glyphicon-print" style="float: right;height: 53%;margin-top: -61%;"></span>
							</button>
      <!-- <a id="hrefPrint" href="#" style="margin-left: 21%;font-family: -webkit-pictograph;text-align: center; cursor: pointer;"><span class="glyphicon glyphicon-print"></span></a> -->
      </div>
    </div>
    <div class="modal-bodyPopUp" id="printdiv">
		<div id="pie-container" style="min-width: 310px; height: 400px; max-width: 600px;margin-top: 1%;"></div>
	</div>
    <div class="modal-footer" style="border-top: 0px solid #e5e5e5;">
      <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
    </div>
	</div
</div>