 @(domainList: List[vm.MailsToDisplay])(monthList: List[String])(isAdmin : Boolean)
<html lang="en">
<head>
<style type="text/css">
.textStyle{
	font-size: 15px;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
</style>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title> Mail Table In Html </title>
</head>
<link  href="@routes.Assets.at("app/bower_components/bootstrap/dist/css/bootstrap.min.css")" rel="stylesheet">
   <script src="@routes.Assets.at("app/bower_components/jquery/dist/jquery.min.js")"></script>
    <script src="@routes.Assets.at("app/bower_components/bootstrap/dist/js/bootstrap.js")"></script>
    <script src="@routes.Assets.at("app/bower_components/jquery/dist/jquery.min.js")"></script>
    <script src="@routes.Assets.at("app/bower_components/angular/angular.js")"></script>
    <script src="@routes.Assets.at("app/bower_components/ng-file-upload/angular-file-upload-shim.min.js")"></script>
    <script src="@routes.Assets.at("app/bower_components/angular-drag-n-drop/angular-dragdrop.min.js")"></script>
    <script src="@routes.Assets.at("app/bower_components/angular-resource/angular-resource.js")"></script>
    <script src="@routes.Assets.at("app/bower_components/angular-route/angular-route.js")"></script>
    <script src="@routes.Assets.at("app/bower_components/ngInfiniteScroll/ng-infinite-scroll.js")"></script>
    <script src="@routes.Assets.at("app/bower_components/angular-route/angular-route.js")"></script>
    <script src="@routes.Assets.at("app/bower_components/angular-animate/angular-animate.min.js")"></script>
    <script src="@routes.Assets.at("app/bower_components/angular-bootstrap/ui-bootstrap.js")"></script>
	<script src="@routes.Assets.at("app/bower_components/angular-bootstrap/ui-bootstrap-tpls.js")"></script> 
	<script src="@routes.Assets.at("app/bower_components/ng-file-upload/angular-file-upload.min.js")"></script> 
	<script src="@routes.Assets.at("app/bower_components/angular-xeditable/dist/js/xeditable.js")"></script>
    <script src="@routes.Assets.at("app/bower_components/moment/moment.js")"></script>
    <script src="@routes.Assets.at("app/bower_components/angular-validator/dist/angular-validator.js")"></script>
    <script src="@routes.Assets.at("app/bower_components/angular-validator/dist/angular-validator-rules.js")"></script>
    <script src="@routes.Assets.at("app/bower_components/bootstrap/dist/js/bootstrap.min.js")"></script>
    <script src="@routes.Assets.at("app/bower_components/angular-bootstrap-datetimepicker/src/js/datetimepicker.js")"></script>
	<script src="@routes.Assets.at("app/bower_components/spin.js/spin.js")"></script>
	<script src="@routes.Assets.at("app/bower_components/angular-spinner/angular-spinner.min.js")"></script>
	<script src="@routes.Assets.at("app/bower_components/angular-sanitize/angular-sanitize.min.js")"></script>    
	<script src="@routes.Assets.at("app/bower_components/datepicker/bootstrap-datepicker.js")"></script>
    <link href="@routes.Assets.at("app/bower_components/datepicker/datepicker.css")" rel="stylesheet" type="text/css" />
    <script src="@routes.Assets.at("app/scripts/app.js")"></script>
    <script src="@routes.Assets.at("app/scripts/controllers/main.js")"></script>
    
  <body style="background: #222 url('/assets/app/images/page_wrapper.png') no-repeat 50% top;" ng-app="email-client" ng-controller="ApplicationController" ng-init="initData(@isAdmin)">
 
 <div class="container-fluid"  ng-controller="ShowCalendarController">
 <nav class="navbar" role="navigation" style="color: #bbb;border-bottom: 1px solid #444;">
	 <div class="navbar-header" style="width: 20%;margin-left: 2%;margin-top: 0.5%;">
	 	<a href="http://enter-agora.com/A3lifesci/welcome.m">
	 		<img src="/assets/app/images/logo_agora.png" style="width: 100%" alt="Your Brand" >
	 	</a>
	 </div>	
</nav>
 
	<div class="first">
      <div class="row">
          <div class="col-md-12" style="">
         
              <table class="table table-bordered" style="background-color: white;">
        <thead>
                <th class="textStyle">Channel</th>
                 @for(month <- monthList){
                 	<th class="textStyle">@month</th>
                 }
        </thead>
        <tbody >
            <tr >
            @for( (c, index) <- domainList.zipWithIndex){
               <tr ng-init='init(@index)'><td colspan="0" style="font-size: small; width: 20%; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);">  @c.domainName 
               <span  class="glyphicon glyphicon-plus" onclick="collapseDiv(this)" ng-click='divShow(@index, !DivShow, @c.domainName)'></span>
               <span style  = "margin-left: 5px;" class="glyphicon glyphicon-eye-open" data-ng-click='mailInfo("@c.domainName")'></span></td>
               
               <td style="font-size: small; width: 8.88%; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);">
               <div class = 'div@index' style = "text-align: center;display:none;"> 
                 @if(c.monthDates.get(monthList(0)).size()!=0){
                  @for( d <- c.monthDates.get(monthList(0))){
                   <a data-ng-click="showPopUpModalShowTab(@d.emailId,@d.isHidden)" id="emailId@d.emailId" data-toggle="tooltip" data-tooltip-placement="bottom" ng-class="@d.isHidden==true ?'tip-bottom mailHidden':'tip-bottom'" title="@d.emailSubject" style="cursor: pointer;">@d.date </a></br>
                  
                  }
                   }
                   
                </div><div class = "numDiv@index" style="text-align: center;">(<a>@c.monthDates.get(monthList(0)).size()</a>)</div></td> 
                   
               <td style="font-size: small; width: 8.88%;text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);"> 
				<div class = 'div@index' style = "text-align: center;display:none;">                
                @if(c.monthDates.get(monthList(1)).size()!=0){
                @for( d <- c.monthDates.get(monthList(1))){
                   <a data-ng-click="showPopUpModalShowTab(@d.emailId,@d.isHidden)" id="emailId@d.emailId" data-toggle="tooltip" data-tooltip-placement="bottom" ng-class="@d.isHidden==true ?'tip-bottom mailHidden':'tip-bottom'" title="@d.emailSubject" style="cursor: pointer;">@d.date </a></br>
                  }
                   }
                </div><div class = "numDiv@index" style="text-align: center;">(<a>@c.monthDates.get(monthList(1)).size()</a>)</div></td> 
               <td style="font-size: small; width: 8.88%;text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);">
               <div class = 'div@index' style = "text-align: center;display:none;"> 
               @if(c.monthDates.get(monthList(2)).size()!=0){
                @for( d <- c.monthDates.get(monthList(2))){
                   <a data-ng-click="showPopUpModalShowTab(@d.emailId,@d.isHidden)" id="emailId@d.emailId" data-toggle="tooltip" data-tooltip-placement="bottom" ng-class="@d.isHidden==true ?'tip-bottom mailHidden':'tip-bottom'" title="@d.emailSubject" style="cursor: pointer;">@d.date </a></br>
                  }
                   }
               </div><div class = "numDiv@index" style="text-align: center;">(<a>@c.monthDates.get(monthList(2)).size()</a>)</div></td> 
               <td style="font-size: small; width: 8.88%;text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);">
               <div class = 'div@index' style = "text-align: center;display:none;"> 
               @if(c.monthDates.get(monthList(3)).size()!=0){
                    @for( d <- c.monthDates.get(monthList(3))){
                   <a data-ng-click="showPopUpModalShowTab(@d.emailId,@d.isHidden)" id="emailId@d.emailId" data-toggle="tooltip" data-tooltip-placement="bottom" ng-class="@d.isHidden==true ?'tip-bottom mailHidden':'tip-bottom'" title="@d.emailSubject" style="cursor: pointer;">@d.date</a></br>
                  }
                   }</div><div class = "numDiv@index" style="text-align: center;">(<a>@c.monthDates.get(monthList(3)).size()</a>)</div></td> 
               <td style="font-size: small; width: 8.88%;text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);"> 
               <div class = 'div@index' style = "text-align: center;display:none;"> 
                  @if(c.monthDates.get(monthList(4)).size()!=0){
                  @for(d<- c.monthDates.get(monthList(4))){
                    <a data-ng-click="showPopUpModalShowTab(@d.emailId,@d.isHidden)" id="emailId@d.emailId" data-toggle="tooltip" data-tooltip-placement="bottom" ng-class="@d.isHidden==true ?'tip-bottom mailHidden':'tip-bottom'" title="@d.emailSubject" style="cursor: pointer;">@d.date </a></br>
                  }
                   }
                </div><div class = "numDiv@index" style="text-align: center;">(<a>@c.monthDates.get(monthList(4)).size()</a>)</div></td> 
               <td style="font-size: small; width: 8.88%; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);">  
                <div class = 'div@index' style = "text-align: center;display:none;"> 
                @if(c.monthDates.get(monthList(5)).size()!=0){
                 @for(d <- c.monthDates.get(monthList(5)) ){
                  <a data-ng-click="showPopUpModalShowTab(@d.emailId,@d.isHidden)" id="emailId@d.emailId" data-toggle="tooltip" data-tooltip-placement="bottom" ng-class="@d.isHidden==true ?'tip-bottom mailHidden':'tip-bottom'" title="@d.emailSubject" style="cursor: pointer;">@d.date </a></br>
                 }
                 }
                 </div><div class = "numDiv@index" style="text-align: center;">(<a>@c.monthDates.get(monthList(5)).size()</a>)</div></td>
               <td style="font-size: small; width: 8.88%;text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);">   
                <div class = 'div@index' style = "text-align: center;display:none;"> 
                @if(c.monthDates.get(monthList(6)).size()!=0){
                 @for(d <- c.monthDates.get(monthList(6))){
                  <a data-ng-click="showPopUpModalShowTab(@d.emailId,@d.isHidden)" id="emailId@d.emailId" data-toggle="tooltip" data-tooltip-placement="bottom" ng-class="@d.isHidden==true ?'tip-bottom mailHidden':'tip-bottom'" title="@d.emailSubject" style="cursor: pointer;">@d.date </a></br>
                 }
                 }
                </div><div class = "numDiv@index" style="text-align: center;">(<a>@c.monthDates.get(monthList(6)).size()</a>)</div></td> 
               <td style="font-size: small; width: 8.88%;text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);"> 
               <div class = 'div@index' style = "text-align: center;display:none;">    
                  @if(c.monthDates.get(monthList(7)).size()!=0){
                     @for(d <- c.monthDates.get(monthList(7))){
                  <a data-ng-click="showPopUpModalShowTab(@d.emailId,@d.isHidden)" id="emailId@d.emailId" data-toggle="tooltip" data-tooltip-placement="bottom" ng-class="@d.isHidden==true ?'tip-bottom mailHidden':'tip-bottom'" title="@d.emailSubject" style="cursor: pointer;">@d.date </a></br>
                 }
                 }
                </div><div class = "numDiv@index" style="text-align: center;">(<a>@c.monthDates.get(monthList(7)).size()</a>)</div></td>
               <td style="font-size: small; width: 8.88%;text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);"> 
               <div class = 'div@index' style = "text-align: center;display:none;">    
                  @if(c.monthDates.get(monthList(8)).size()!=0){
                      @for(d <- c.monthDates.get(monthList(8))){
                  <a data-ng-click="showPopUpModalShowTab(@d.emailId,@d.isHidden)" id="emailId@d.emailId" data-toggle="tooltip" data-tooltip-placement="bottom" ng-class="@d.isHidden==true ?'tip-bottom mailHidden':'tip-bottom'" title="@d.emailSubject" style="cursor: pointer;">@d.date </a></br>
                 }
                 }
               </div><div class = "numDiv@index" style="text-align: center;">(<a>@c.monthDates.get(monthList(8)).size()</a>)</div></td>
              
           }
            </tr>
        </tbody>
    </table>
</div>
    </div>
    </div>
    
    <div id="footer" class="container-fluid" style="text-align: center;background-color: white; height: 30px;margin-top: 2%;">
	  <div id="copyright">
	   
	</div>
</div>
</div>
</body>

<div class="modal fade" id="mymodel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Show Email</h4>
      </div>
      <div class="modal-body">
      	<img alt="" src="" width="100%;" id="modalValue">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script type="text/ng-template" id="manage-edit-user.html">
 			<form class="form-horizontal" role="form">
					<button type="button" class="close" ng-click="cancel()" style="margin-right:3%;">×</button>
						<div style = "margin-top: 2%;" "class="form-group">
							<div style= "padding: 1%;">
 								<label class="col-sm-3 control-label">Channel Name:</label>
								<input class="form-control" style = "width:50% !important;"  disabled ng-blur="saveMailInfo('channel_name', seeMailInfo.channel_name)" ng-blur="saveMailInfo(seeMailInfo.channel_name)" ng-model="seeMailInfo.channel_name"></input>
 							</div>
							<div style= "padding: 1%;">
 								<label class="col-sm-3 control-label">Publisher URL:</label>
								<input class="input-filter form-control" style = "width:50% !important; border:none;"  type="input"   ng-blur="saveMailInfo('publisher_url', seeMailInfo.publisher_url, seeMailInfo.channel_name)"  ng-model="seeMailInfo.publisher_url"></input>
 							</div>
							<div style= "padding: 1%;" ng-show="isadmin">
	 							<label class="col-sm-3 control-label">Username:</label>
								<input class="input-filter form-control" style = "width:50% !important; border:none;"  type="input"     ng-blur="saveMailInfo('username', seeMailInfo.username, seeMailInfo.channel_name)"  ng-model="seeMailInfo.username"></input>
 							</div>
							<div style= "padding: 1%;">
	 							<label class="col-sm-3 control-label">History:</label> 
	 							<input class="input-filter form-control" style = "width:50% !important; border:none;"  type="input" ng-blur="saveMailInfo('history', seeMailInfo.history, seeMailInfo.channel_name)"  ng-model="seeMailInfo.history"></input>
 							</div>
							<div style= "padding: 1%;">
	 							<label class="col-sm-3 control-label">Subscriber:</label> 
								<input class="input-filter form-control" style = "width:50% !important; border:none;"  type="input"  ng-blur="saveMailInfo('subscriber', seeMailInfo.subscriber, seeMailInfo.channel_name)"  ng-model="seeMailInfo.subscriber"></input>
	 						</div>
						</div>
						<div class="form-group" >							
							<div style="padding: 1%;" ng-show="isadmin">
 								<label class="col-sm-3 control-label">Publisher:</label>
								<input class="input-filter form-control" style = "width:50% !important; border:none;"  type="input" ng-blur="saveMailInfo('publisher', seeMailInfo.publisher, seeMailInfo.channel_name)"  ng-model="seeMailInfo.publisher"></input>
 							</div>
							<div style="padding: 1%;">
 								<label class="col-sm-3 control-label">media Kit URL:</label>
								<input class="input-filter form-control" style = "width:50% !important; border:none;"  type="input"  ng-blur="saveMailInfo('media_kit_url', seeMailInfo.media_kit_url, seeMailInfo.channel_name)"  ng-model="seeMailInfo.media_kit_url"></input>
 							</div>
							<div style="padding: 1%;" ng-show="seeMailInfo.file_url != null && isadmin == false">
	 							<label class="col-sm-3 control-label">File Download:</label>
								<a href="/downloadFile/{{seeMailInfo.channel_name}}" target="_blank">{{seeMailInfo.file_url}}</a>
 							</div>
							<div style="padding: 1%;" ng-show="isadmin">
								<input type="file" class="col-sm-5" name="pdfFile" style="margin-left:20%;" ng-file-select="onFileSelect($files)"> <input type="button" value="Upload pdf" ng-click="uploadFile(seeMailInfo.channel_name)">
								<p style="color:green;margin-left: 35%;margin-top: 3%;" ng-show="isUploaded">File uploaded successfully!</p>
							</div>
							<div style="padding: 1%;" ng-show="isadmin">
	 							<label class="col-sm-3 control-label">File Url:</label>
								<input class="input-filter form-control" style = "width:50% !important; border:none;"  type="input"  ng-show="seeMailInfo.file_url == null" disabled="disabled"></input>
								<a href="/downloadFile/{{seeMailInfo.channel_name}}" target="_blank">{{seeMailInfo.file_url}}</a>
 							</div>
 							<div style="padding: 1%;" ng-show="isadmin">
	 							<label class="col-sm-3 control-label">Password:</label>
								<input class="input-filter form-control" style = "width:50% !important; border:none;"  type="input" ng-blur="saveMailInfo('password', seeMailInfo.password, seeMailInfo.channel_name)"  ng-model="seeMailInfo.password"></input>
 							</div>
 							<div style="padding: 1%;">
		    					<label class="col-sm-3 control-label">Last Renewed:</label>
		    					<input id = "date" class="input-filter form-control" style = "width:50% !important; border:none;"  ng-blur="saveRenewedDate('last_renewed', seeMailInfo.last_renewed, seeMailInfo.channel_name)"  ng-model="seeMailInfo.last_renewed" data-provide="datepicker" data-date-format="yyyy-mm-dd">
	 						</div>
							<div style="padding: 1%;" ng-show="isadmin">
	 							<label class="col-sm-3 control-label">Notes:</label> 
								<textarea class="input-filter form-control" style = "width:50% !important; border:none;"  ng-blur="saveMailInfo('notes', seeMailInfo.notes, seeMailInfo.channel_name)"  ng-model="seeMailInfo.notes"></textarea>
 							</div>
	 						
						</div>
  					</form>	
 </script>
</html>
<style>
.mailHidden {
	color:red;
}
</style>
<script type="text/javascript">
	$(document).ready(function(){
		   $(".tip-bottom").tooltip({
		        placement : 'bottom'
		    });
	 });
	function getEmailPage(id){
		$.ajax({
			url:"/get-table-cover-image-by-id/"+id,
			success:function(result){
				$("#modalValue").attr('src','/get-table-cover-image-by-id/'+id);
				$("#mymodel").modal('show');
		  }});
	}
	function collapseDiv(domain)
	{
		var div1Class =domain.className;
		if(div1Class=="glyphicon glyphicon-plus") {
			domain.className="glyphicon glyphicon-minus";
		} else {
			domain.className="glyphicon glyphicon-plus";
		} 
	}
</script>
